---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MeetTheTeam">
  <main>
    <a href="/" id="return">Return</a>
    {/* TODO: Put the correct team members (maybe add a new component?) */}
    <h2>Meet the Team</h2>
    <ul>
      <li>
        <strong>John Doe</strong> - Lead Developer
      </li>
      <li>
        <strong>Jane Doe</strong> - Designer
      </li>
      <li>
        <strong>James Smith</strong> - Developer
      </li>
      <li>
        <strong>Jane Smith</strong> - Developer
      </li>
    </ul>
  </main>
</Layout>

<style>
  #return {
    font-size: 100%;
    color: white;
  }
</style>
