<h1 id="title">Blenders FC</h1>
<h2 id="subtitle">Meet the best robotics team in Mexico.</h2>

<a href="/team">Meet the team</a>

<style>
  #title {
    background-image: linear-gradient(45deg, #f58748, #f8dc4f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-align: left;
  }
</style>
