---
import RepositoryList from "./RepositoryList.astro"
---

<h2 id = "subtitle"> Repositories </h2>

<p> Our repositories are hosted on GitHub. You can find them at the following links: </p>

<RepositoryList />
<style>
  #subtitle {
    color: white;
    text-align: left;
    margin: 0; 
  }
  </style> 